
<br><br><br>
<hr>
<h1 style="text-align: center;">¡Déjanos tu Comentario!</h1>
<hr>
<div class="row">
  <div class="col xs-12 col-md-6 col-md-offset-3">
    
    <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
      <!-- <div class="form-group">
          <label for="text">Asunto:</label>
          <input type="text" class="form-control " id="asunto" name="asunto" ngModel>
      </div> -->
      <div class="form-group">
          <label for="text">Asunto:</label>
         <select class="form-control " id="asunto" name="asunto" required ngModel>
            <option value="">-- Seleccione --</option>
            <option value="Consulta">Consulta</option>
            <option value="Agradecimiento">Agradecimiento</option>
            <option value="Queja">Queja</option>
         </select>
      </div>
      <div class="form-group">
          <label for="comment">Comentario:</label>
          <textarea type="textarea" class="form-control" rows="6" id="comentario" name="comentario" required ngModel></textarea>
        </div>
      <button type="submit" class="btn btn-primary " [disabled]="!postForm.valid">Enviar</button>
      <button type="button" class="btn btn-danger mgl" (click)="resetForm(postForm)">Cancelar</button>
    </form>
  </div>
</div>
