

<nav class="navbar navbar-inverse navcolor" >
    <!-- <a class="navbar-brand wtext" >TechnoFlash</a> -->
    
    <ul class="nav navbar-nav" >
        <li><img src="./assets/logoproyecto.png" style="max-height: 50px;" alt="Logo"></li>
        <li  routerLinkActive="active2" [routerLinkActiveOptions]="{exact:true}"><a  class="wtext" routerLink="/">Inicio</a></li>
        <li  routerLinkActive="active2"><a  class="wtext" routerLink="/acerca">Acerca</a></li>
        <li  routerLinkActive="active2"><a  class="wtext" routerLink="/productos">Productos</a></li>
        <li routerLinkActive="active2"><a  class="wtext" routerLink="/carrito" *ngIf="isAuthenticated">Carrito</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar"
            disabled>
        </div>
        <button type="button" class="btn btn-primary" style="margin-left: 5px;">Buscar</button>
    </form>
    <ul class="nav navbar-nav navbar-right ">
        <li routerLinkActive="active2"><a  class="wtext" routerLink="sesion" *ngIf="!isAuthenticated">Iniciar Sesión </a></li>
        <li routerLinkActive="active2"><a  class="wtext" (click)="onCerrarSesion()" *ngIf="isAuthenticated">Cerrar Sesión </a></li>
    </ul>
    
</nav>
