

<nav class="navbar navbar-inverse navcolor" >
    <a class="navbar-brand wtext" >TechnoFlash</a>
    <ul class="nav navbar-nav" >
        <li  routerLinkActive="active2" [routerLinkActiveOptions]="{exact:true}"><a  class="wtext" routerLink="/">Inicio</a></li>
        <li  routerLinkActive="active2"><a  class="wtext" routerLink="acerca">Acerca</a></li>
        <li  routerLinkActive="active2" class="dropdown"
        appDropdown>
            <a routerLink="productos"  class="dropdown-toggle wtext"  data-toggle="dropdown">Productos<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Placas Madres</a></li>
                <li><a href="#">Procesadores</a></li>
                <li><a href="#">Memorias Ram</a></li>
                <li><a href="#">Almacenamiento</a></li>
                <li><a href="#">Enfriamiento</a></li>
                <li><a href="#">Fuentes de Poder</a></li>
                <li><a href="#">Tarjetas Graficas</a></li>
            </ul>
        </li>
        <li routerLinkActive="active2"><a  class="wtext" routerLink="carrito">Carrito</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Buscar</button>
    </form>
    <ul class="nav navbar-nav navbar-right ">
        <li routerLinkActive="active2"><a  class="wtext" routerLink="sesion">Iniciar Sesión </a></li>
    </ul>
    
</nav>