<!-- <a in
href="#"
class="list-group-item clearfix">
    
    <div class="pull-left">
        <h4 class="list-group-item-heading"> {{product.name}}</h4>
        <p class="list-group-item-text">{{product.price}}</p>
        <button class="btn btn-danger btn-sm">Añadir al Carrito</button>
    </div>
    <span class="pull-right">
        <img 
        [src]="product.imagePath"
        alt="nombre producto"
        class="img-responsive"
        style="max-height: 100px;">
    </span>
</a> -->

<div 
class="list-group-item clearfix">
    <!-- (click)="onSelected()"> -->
    <div class="pull-left">
        <h4 class="list-group-item-heading"> {{product.name}}</h4>
        <p class="list-group-item-text">Precio: ¢<strong>{{product.price}}</strong></p>
        <br>
        <button class="btn btn-danger btn-sm" routerLink="/productos">Aprovecha!</button>
    </div>
    <span class="pull-right">
        <img 
        [src]="product.imagePath"
        alt="nombre producto"
        class="img-responsive"
        style="max-height: 100px;">
    </span>
</div>

