
<footer class="footer footercolor">  
    <div class="container">  
         <div class="row">  
                <div class="col-md-3 m-b-30">  
                    <div class="footer-title m-t-5 m-b-20 p-b-8 wtext">  
                        About us  
                    </div>  
                    <p class="white-text wtext">  
                        Lorem Ipsum.  
                    </p>  
                </div>  
            <div class="col-md-3 m-b-30">  
                <div class="footer-title m-t-5 m-b-20 p-b-8 wtext">  
                    Latest themes  
                </div>  
                <div class="footer-social-links m-t-30">  
                    <li>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"> Face</i> </a>  
                        <a href="#"> <i class="fa fa-twitter" aria-hidden="true">Twit </i> </a>  
                        <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"> Lkn</i> </a>  
                        <a href="#"> <i class="fa fa-youtube" aria-hidden="true"> </i>YT </a>  
                    </li>  
                </div>  
            </div>  
        </div>  
    </div>  
</footer>  