

<div class="row" style="margin: auto;">
    <hr>
    <div class="col-xs-12" >
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Placas Madres
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item
                                    *ngFor="let productEl of Placas;let i = index"
                                    [product]="productEl"
                                    [index]="i">
                                    </app-producto-item>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div>
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Procesadores
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item2
                                    *ngFor="let productEl2 of Procesadores;let i2 = index"
                                    [product2]="productEl2"
                                    [index]="i2">
                                    </app-producto-item2>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div>
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Memorias Ram
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item3
                                    *ngFor="let productEl3 of Ram;let i3 = index"
                                    [product3]="productEl3"
                                    [index]="i3">
                                    </app-producto-item3>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div>
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Almacenamiento
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item4
                                    *ngFor="let productEl4 of Almacenamiento;let i = index"
                                    [product4]="productEl4"
                                    [index4]="i">
                                    </app-producto-item4>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div> 
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Enfriamiento
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item5
                                    *ngFor="let productEl5 of Enfriamiento;let i5 = index"
                                    [product5]="productEl5"
                                    [index]="i5">
                                    </app-producto-item5>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div>
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Fuentes de Poder
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item6
                                    *ngFor="let productEl6 of Fuentes;let i6 = index"
                                    [product6]="productEl6"
                                    [index]="i6">
                                    </app-producto-item6>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div>
        <div class="dropdown row" 
            appDropdown>
            <button class="btn btn-secondary dropdown-toggle btnh" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false">
                Tarjetas Graficas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> 
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <div class="col-xs-12">
                                <div class="row">
                                    <app-producto-item7
                                    *ngFor="let productEl7 of Graficas;let i7 = index"
                                    [product7]="productEl7"
                                    [index]="i7">
                                    </app-producto-item7>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </a>
            </div>
        </div>    
    </div>
</div>

   