<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Placas Madre</h3>
                <hr>
                <app-producto-item
                *ngFor="let productEl of products"
                [product]="productEl">
                </app-producto-item>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Procesadores</h3>
                <hr>
                <app-producto-item2
                *ngFor="let productEl2 of products2"
                [product2]="productEl2">
                </app-producto-item2>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Memorias Ram</h3>
                <hr>
                <app-producto-item3
                *ngFor="let productEl3 of products3"
                [product3]="productEl3">
                </app-producto-item3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Almacenamiento</h3>
                <hr>
                <app-producto-item4
                *ngFor="let productEl4 of products4"
                [product4]="productEl4">
                </app-producto-item4>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Enfriamiento</h3>
                <hr>
                <app-producto-item5
                *ngFor="let productEl5 of products5"
                [product5]="productEl5">
                </app-producto-item5>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Fuentes de Poder</h3>
                <hr>
                <app-producto-item6
                *ngFor="let productEl6 of products6"
                [product6]="productEl6">
                </app-producto-item6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="row">
                <h3 class="bgh3">Tarjetas Graficas</h3>
                <hr>
                <app-producto-item7
                *ngFor="let productEl7 of products7"
                [product7]="productEl7">
                </app-producto-item7>
            </div>
        </div>
        <div class="row">
            
        </div>
        
    </div>
</div>




