<form class="form-group">
    <div class="form-group  ">
        <label for="text">Nombre:</label>
        <input type="text" class="form-control " id="nombre">
      </div>
      <div class="form-group">
        <label for="text">Apellido:</label>
        <input type="text" class="form-control" id="apellido">
      </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Confirmar Contraseña:</label>
        <input type="password" class="form-control" id="pwd2">
      </div>
    <button type="submit" class="btn btn-primary mg">Registrar</button>
  </form>