.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shadow{
    -webkit-box-shadow: 6px 6px 15px -14px rgba(140,140,140,1);
-moz-box-shadow: 6px 6px 15px -14px rgba(140,140,140,1);
box-shadow: 6px 6px 15px -14px rgba(140,140,140,1);
}
.btnmargin{
    margin: 5px;
}