<h2 class="h2" style="text-align: center;"> Registrar</h2>
<p style="text-align: center;">Porfavor ingrese los datos de registro correctamente</p>
<form class="form-group shadow">
    <div class="form-group btnmargin ">
        <label for="text">Nombre:</label>
        <input type="text" class="form-control " id="nombre">
      </div>
      <div class="form-group btnmargin">
        <label for="text">Apellido:</label>
        <input type="text" class="form-control" id="apellido">
      </div>
    <div class="form-group btnmargin">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group btnmargin">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group btnmargin">
        <label for="pwd">Confirmar Contraseña:</label>
        <input type="password" class="form-control" id="pwd2">
      </div>
    <button type="submit" class="btn btn-primary btnmargin">Registrar</button>
  </form>
