<app-header (featureSelect)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <app-inicio *ngIf="loadedFeature ==='index'"></app-inicio>
            <app-productos *ngIf="loadedFeature ==='productos'"></app-productos> 
            <!-- Investigar por que no se despliega dropdown -->
            <app-acerca *ngIf="loadedFeature ==='acerca'"></app-acerca>
            <app-carrito *ngIf="loadedFeature ==='carrito'"></app-carrito>
            <app-sesion *ngIf="loadedFeature ==='sesion'"></app-sesion>
        </div>
    </div>
</div>

<!-- <app-inicio></app-inicio> -->

<app-footer></app-footer>