<form class="form-group form-inline shadow" >
    <h2 class="h2" style="text-align: center;"> Inicio de Sesión</h2>
    <p style="text-align: center;">Porfavor ingrese sus credenciales</p>
    <div class="centrar">
        <div class="input-group " >
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <br>
        <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
    </div>
    <hr>
    <button class="btn btn-primary  btnmargin" type="button">Iniciar</button>
    <button (click)="onRegister()"  class="btn btn-primary  pull-right btnmargin" type="button" >Registrar</button>
  </form>
<hr>
<div class="container">
  

</div>
  
