
<div class="row">
    <div class="col-xs-6">
        <h3 class="bgh3 "> Productos en Oferta</h3>
        <hr>
        <app-inicio-item
        *ngFor="let productEl of products"
        [product]="productEl">
        </app-inicio-item>
    </div>
    <div class="col-xs-6">
        <h3 class="bgh3">Nuevos Productos</h3>
        <hr>
        <app-inicio-item2
        *ngFor="let productElO of products2"
        [product2]="productElO">
        </app-inicio-item2>
    </div>
</div>

<!-- Aqui debo ajustar ambas secciones una al lado de la otra -->





