<div 
class="list-group-item clearfix">
    <!-- (click)="onSelected()"> -->
    <div class="pull-left">
        <h4 class="list-group-item-heading"> {{product2.name}}</h4>
        <p class="list-group-item-text">Precio: ¢<strong>{{product2.price}}</strong></p>
        <br>
        <button class="btn btn-danger btn-sm" routerLink="/productos">Aprovecha!</button>
    </div>
    <span class="pull-right">
        <img 
        [src]="product2.imagePath"
        alt="nombre producto"
        class="img-responsive"
        style="max-height: 100px;">
    </span>
</div>
