<div 
    class="list-group-item clearfix">
    <div class="row" style="margin-top: 0px;">
        <div class="col-xs-12">
            <button class="btn btn-danger btn-sm pull-right"  (click)="onDelete(CarritoProductos.id)"><i>x</i></button>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h4 class="list-group-item-heading"> {{CarritoProductos.name}}</h4>
                    <p class="list-group-item-text">Precio: ¢<strong>{{CarritoProductos.price}}</strong></p>
                    <br>
                </div>
                <span class="pull-right">
                    <img 
                    [src]="CarritoProductos.imagePath"
                    alt="nombre producto"
                    class="img-responsive"
                    style="max-height: 100px;">
                </span>
            </div>
        </div>
    
            <div class="row">
                <div class="col-xs-12 list-group-item clearfix" >
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-3">
                                <p>Cantidad: {{CantidadArticulo}}</p>
                            </div>
                            <div class="col-xs-3">
                                <p (change)="Subtotalf">Subtotal: ¢{{Subtotalf}}</p>
                            </div>
                            <div class="col-xs-2">
                                <p>IVA: ¢{{IVAf}}</p>
                            </div>
                            <div class="col-xs-2">
                                <p>Total: ¢{{Totalf}}</p> 
                            </div>
                        </div> 
                    </div>

                
                    <span class="pull-right" style="margin-bottom: 0px;">
                        <button class="btn btn-danger btn-sm" (click)="onRestar()"><i>-</i></button>
                        <button class="btn btn-success btn-sm mgl" (click)="onSumar()"><i>+</i></button>
                    </span>
                </div>
            </div> 
    </div>

<hr>

